<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @topic.image_url %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @topic.subject %>
</p>

<%= link_to 'Back', topics_path %>