<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @subject.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@subject.image_url, class: 'image_medium') %>
</p>
<%= link_to 'Show Topics',subject_topics_path(:subject_id => @subject.id) %> |
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
